<form action="/api/productos" enctype="multipart/form-data" method="post">
           <input type="text" name="title" id="title" placeholder="title">
           <input type="number" name="price" id="price" placeholder="price">
           <input type="text" name="thumbnail" id="thumbnail" placeholder="thumbnail">
    <input type="submit" value="enviar">
    <button>volver</button>
</form>

<a href={{"http://localhost:8080/api"}}><button class="btn btn-success mt-3 mb-5">productos cargados</button></a>